In [5]:
import pandas
cmr=pandas.read_csv("http://modcom.co.ke/bigdata/datasets/Customers.csv")
cmr

,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...
495,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [11]:
print(cmr.corr())
print(cmr.describe())

array = cmr.values
x=array[:, 2:6]
y=array[:, 6]

from sklearn import model_selection
x_train,x_test, y_train, y_test  = model_selection.train_test_split(x,y,
                                                                     test_size=0.30,
                                                                     random_state=42)

from sklearn.linear_model import LinearRegression
model =LinearRegression ()
model.fit(x_train, y_train) 

predictions=model.predict(x_test)
print (predictions)
from sklearn.metrics import  r2_score
print (r2_score(y_test,  predictions))
amount=model.predict([[32,11,35,2]])
print(amount)

                      Avg. Session Length  Time on App  Time on Website  \
Avg. Session Length              1.000000    -0.027826        -0.034987
Time on App                     -0.027826     1.000000         0.082388
Time on Website                 -0.034987     0.082388         1.000000
Length of Membership             0.060247     0.029143        -0.047582
Yearly Amount Spent              0.355088     0.499328        -0.002641

                      Length of Membership  Yearly Amount Spent
Avg. Session Length               0.060247             0.355088
Time on App                       0.029143             0.499328
Time on Website                  -0.047582            -0.002641
Length of Membership              1.000000             0.809084
Yearly Amount Spent               0.809084             1.000000
       Avg. Session Length  Time on App  Time on Website  \
count           500.000000   500.000000       500.000000
mean             33.053194    12.052488        37.060445
std               0.992563     0.994216         1.010489
min              29.532429     8.508152        33.913847
25%              32.341822    11.388153        36.349257
50%              33.082008    11.983231        37.069367
75%              33.711985    12.753850        37.716432
max              36.139662    15.126994        40.005182

       Length of Membership  Yearly Amount Spent
count            500.000000           500.000000
mean               3.533462           499.314038
std                0.999278            79.314782
min                0.269901           256.670582
25%                2.930450           445.038277
50%                3.533975           498.887875
75%                4.126502           549.313828
max                6.922689           765.518462
[403.66993069 542.57756289 427.06591658 502.02460425 410.12143559
 569.93442508 531.93431341 506.29650969 408.71870658 473.97737105
 441.46912726 425.33703059 425.1297229  527.61676714 431.45684016
 424.0769184  575.76543296 484.89856554 458.35936863 481.96502182
 502.32441491 513.63783554 507.58877002 646.57464283 450.24372141
 496.27043415 556.40457807 554.95630839 399.64237199 325.84623136
 532.89783259 478.12238702 501.05701845 305.97335848 505.77244448
 483.79591969 518.8331528  438.18241857 456.71094234 471.04609461
 494.44008972 445.31155755 508.78802753 501.04594193 488.83499673
 535.38079541 595.20129802 514.04714872 280.76758312 433.10112367
 421.70823427 481.23640152 584.71372272 608.7748096  563.98513427
 494.72804869 394.52133407 456.4197529  573.08767515 499.6984241
 512.83277025 392.12434043 480.05057697 481.54520299 475.1117359
 546.2717533  430.85039085 602.16082001 422.3695128  493.57280186
 528.74970313 581.49002635 620.19139276 512.56880298 411.76623862
 498.47637494 461.51337557 446.41371051 448.07229961 535.44710412
 599.45225302 619.33717662 494.15919062 671.99976398 532.46469814
 438.90606319 515.04975242 546.7821954  331.94282076 510.51987447
 536.57891032 500.19533618 376.92345776 573.73961388 479.68031607
 588.61435483 485.69922203 456.40200844 399.25197845 451.5098931
 519.40693826 434.71194217 596.13049586 487.91791966 407.46691799
 524.16812757 504.12982787 452.11540623 524.21791295 457.59311643
 444.19371592 457.80432916 448.76590761 438.31789012 677.04967982
 566.09639245 651.93616661 381.08127926 577.5577254  578.35797052
 518.61431291 538.94532336 377.4301223  663.30814872 523.83158824
 456.86065622 446.07594402 388.55038282 521.03242183 431.94999241
 460.08016327 426.31959507 433.30417088 634.89577554 462.41086078
 460.71673829 512.49535288 703.83033889 411.84238624 551.54681408
 553.33669558 409.68202123 423.34491341 509.66438623 509.88865178
 543.67591782 504.31300469 519.18802223 520.03155195 535.13855037]
0.980875764112585
[336.51065469]

In [1]:
import pandas
cmr1=pandas.read_csv("http://modcom.co.ke/bigdata/datasets/Customers.csv")
cmr1

,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...
495,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [10]:
#machine learning does not support text in the features e.g avatar
#you have to encode any categorical features to 0, 1,2.......
#you can encode in two ways :Manually and automatically
#automatically is the better choice
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

cmr1['AvatarEncoded'] =encoder.fit_transform(cmr1['Avatar'])
#subset = cmr1[['AvatarEncoded','Avatar']]
#print(subset)
print(cmr1['Avatar'])

array = cmr1.values
x=array[:, 2:6]
y=array[:, 6]

from sklearn import model_selection
x_train,x_test, y_train, y_test  = model_selection.train_test_split(x,y,
                                                                     test_size=0.30,
                                                                     random_state=42)

from sklearn.linear_model import LinearRegression
model =LinearRegression ()
model.fit(x_train, y_train) 

predictions=model.predict(x_test)
print (predictions)
from sklearn.metrics import  r2_score
print (r2_score(y_test,  predictions))

0                Violet
1             DarkGreen
2                Bisque
3           SaddleBrown
4      MediumAquaMarine
             ...
495                 Tan
496       PaleVioletRed
497            Cornsilk
498                Teal
499         DarkMagenta
Name: Avatar, Length: 500, dtype: object
[403.66993069 542.57756289 427.06591658 502.02460425 410.12143559
 569.93442508 531.93431341 506.29650969 408.71870658 473.97737105
 441.46912726 425.33703059 425.1297229  527.61676714 431.45684016
 424.0769184  575.76543296 484.89856554 458.35936863 481.96502182
 502.32441491 513.63783554 507.58877002 646.57464283 450.24372141
 496.27043415 556.40457807 554.95630839 399.64237199 325.84623136
 532.89783259 478.12238702 501.05701845 305.97335848 505.77244448
 483.79591969 518.8331528  438.18241857 456.71094234 471.04609461
 494.44008972 445.31155755 508.78802753 501.04594193 488.83499673
 535.38079541 595.20129802 514.04714872 280.76758312 433.10112367
 421.70823427 481.23640152 584.71372272 608.7748096  563.98513427
 494.72804869 394.52133407 456.4197529  573.08767515 499.6984241
 512.83277025 392.12434043 480.05057697 481.54520299 475.1117359
 546.2717533  430.85039085 602.16082001 422.3695128  493.57280186
 528.74970313 581.49002635 620.19139276 512.56880298 411.76623862
 498.47637494 461.51337557 446.41371051 448.07229961 535.44710412
 599.45225302 619.33717662 494.15919062 671.99976398 532.46469814
 438.90606319 515.04975242 546.7821954  331.94282076 510.51987447
 536.57891032 500.19533618 376.92345776 573.73961388 479.68031607
 588.61435483 485.69922203 456.40200844 399.25197845 451.5098931
 519.40693826 434.71194217 596.13049586 487.91791966 407.46691799
 524.16812757 504.12982787 452.11540623 524.21791295 457.59311643
 444.19371592 457.80432916 448.76590761 438.31789012 677.04967982
 566.09639245 651.93616661 381.08127926 577.5577254  578.35797052
 518.61431291 538.94532336 377.4301223  663.30814872 523.83158824
 456.86065622 446.07594402 388.55038282 521.03242183 431.94999241
 460.08016327 426.31959507 433.30417088 634.89577554 462.41086078
 460.71673829 512.49535288 703.83033889 411.84238624 551.54681408
 553.33669558 409.68202123 423.34491341 509.66438623 509.88865178
 543.67591782 504.31300469 519.18802223 520.03155195 535.13855037]
0.980875764112585

In [17]:
# unsupervised learning-you do not know what you are predicting
#you have no target , no Y ,you only have  X
#clustering -putting data into similar groups
import pandas
airlines=pandas.read_csv("http://modcom.co.ke/bigdata/datasets/AirlinesCluster.csv")
airlines

#we cluster 3 columns only
airlines_subset=airlines[['FlightMiles','FlightTrans','DaysSinceEnroll']]
airlines_subset

array=airlines_subset.values
x = array[:,0:3]


from sklearn.cluster import  KMeans
model = KMeans(n_clusters=5)
model.fit(x)

KMeans(n_clusters=5)